
/*.ui-slider-tick-mark{*/
    /*display:inline-block;*/
    /*width:2px;*/
    /*background:black;*/
    /*height:16px;*/
    /*position:absolute;*/
    /*top:-4px;*/
/*}*/

/*body {*/
    /*font: 10px sans-serif;*/
/*}*/

/*.axis path,*/

/*.axis line {*/
    /*fill: none;*/
    /*stroke: #000;*/
    /*shape-rendering: crispEdges;*/
/*}*/

/*.x.axis path {*/
    /*display: none;*/
/*}*/

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    /*shape-rendering: crispEdges;*/
}

.x.axis path {
    display: none;
}

#slider{
    font-size:10px;
}

/*.axis {*/
    /*shape-rendering: crispEdges;*/
/*}*/

/*.x.axis line {*/
    /*stroke: #fff;*/
/*}*/

/*.x.axis .minor {*/
    /*stroke-opacity: .5;*/
/*}*/

/*.x.axis path {*/
    /*display: none;*/
/*}*/

/*#myRange{*/
    /*width: 400px;*/
/*}*/

/*#sliderlabel{*/
    /*padding-left:50px;*/
    /*color:#777;*/
    /*padding-right:20px;*/
/*}*/

/*.slider .handle {*/
    /*fill: #fff;*/
    /*stroke: #000;*/
    /*stroke-opacity: .5;*/
    /*stroke-width: 1.25px;*/
    /*cursor: crosshair;*/
/*}*/

/*.sliderticks{*/
    /*font-size:10px;*/
/*}*/


#slider{
    width:550px;
    position:fixed;
}

#chooseseason{
    padding-left:50px;
    color:#777;
    padding-right:20px;
}

div.nav.navbar-nav{
    padding-top:15px;
}

path.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

path.firstline {
    fill: none;

}

path.secondline {
    fill: none;
}


.subunit.SCT { fill: #ddc; }
.subunit.WLS { fill: #cdd; }
.subunit.NIR { fill: #cdc; }
.subunit.ENG { fill: #dcd; }

.subunit.IRL,
.subunit-label.IRL {
    display: none;
}

.subunit-boundary {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

.subunit-boundary.IRL {
    stroke: #aaa;
}

.subunit-label {
    fill: #777;
    fill-opacity: .5;
    font-size: 20px;
    font-weight: 300;
    text-anchor: middle;
}

.place,
.place-label {
    fill: #444;
}

.place:hover,.update:hover{
    stroke-width: 2;
    stroke: yellow;
}

/*text {*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size: 10px;*/
   /*// pointer-events: none;*/
/*}*/

.info{
    font-size: 20px;
}

.score {
    font-size: 50px;
}


.info_small{
    font-size: 16px;
}

.txtscore{
    cursor: pointer;
}

circle{
    cursor: pointer;
}

.label{
    font-size: 20.5px;
}



.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}


.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}


.enter{
    fill:"white";
}

.hidden {
    display: none;
}
.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}