
/*body {*/
    /*font: 10px sans-serif;*/
/*}*/

/*.axis path,*/

/*.axis line {*/
    /*fill: none;*/
    /*stroke: #000;*/
    /*shape-rendering: crispEdges;*/
/*}*/

/*.x.axis path {*/
    /*display: none;*/
/*}*/

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    /*shape-rendering: crispEdges;*/
}

.x.axis path {
    display: none;
}



/*.axis {*/
    /*shape-rendering: crispEdges;*/
/*}*/

/*.x.axis line {*/
    /*stroke: #fff;*/
/*}*/

/*.x.axis .minor {*/
    /*stroke-opacity: .5;*/
/*}*/

/*.x.axis path {*/
    /*display: none;*/
/*}*/


path.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

path.firstline {
    fill: none;

}

path.secondline {
    fill: none;
}


text#sliderlabel{
    font-size:50px;
    padding-left:125px;
}
.subunit.SCT { fill: #ddc; }
.subunit.WLS { fill: #cdd; }
.subunit.NIR { fill: #cdc; }
.subunit.ENG { fill: #dcd; }

.subunit.IRL,
.subunit-label.IRL {
    display: none;
}

.subunit-boundary {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

.subunit-boundary.IRL {
    stroke: #aaa;
}

.subunit-label {
    fill: #777;
    fill-opacity: .5;
    font-size: 20px;
    font-weight: 300;
    text-anchor: middle;
}

.place,
.place-label {
    fill: #444;
}

.place:hover{
    fill: red;
}

/*text {*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size: 10px;*/
   /*// pointer-events: none;*/
/*}*/

.info{
    font-size: 20.5px;
}

.score{
    font-size: 50px;

}



.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}


.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
