




#slider{
    font-size:10px;
}

body { padding-top: 55px; }

.homeimage {
    position: relative;
    width: 100%; /* for IE 6 */
}

#John{
    padding-top:60px;
}

#Calvin{
    padding-top:60px;
}

#Eamon{
    padding-top:60px;
}
#Daniel{
    padding-top:70px;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

h2 span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

a.navbar-brand{
    padding-top:15px;
}

#slider{
    width:550px;
    position:fixed;
}

#chooseseason{
    padding-left:50px;
    color:#777;
    padding-right:20px;
}

div.nav.navbar-nav{
    padding-top:15px;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    /*shape-rendering: crispEdges;*/
}

.x.axis path {
    display: none;
}

path.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

path.firstline {
    fill: none;

}

path.secondline {
    fill: none;
}


.subunit.SCT { fill: #ddd4d9; }
.subunit.WLS { fill: #a1ddd4; }
/*.subunit.NIR { fill: #cdc; }*/
.subunit.ENG { fill: #fbee87; }

.subunit.IRL,
.subunit-label.IRL {
    display: none;
}

.subunit-boundary {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

.subunit-boundary.IRL {
    stroke: #aaa;
}

.subunit-label {
    fill: #777;
    fill-opacity: .5;
    font-size: 20px;
    font-weight: 300;
    text-anchor: middle;
}

.place,
.place-label {
    fill: #444;
}

.place:hover,.update:hover{
    stroke-width: 2;
    stroke: yellow;
}

#seas{
    border-style: solid;
    border-width: 0.25px;
}
path{
    stroke: black;
    stroke-width: 0.25 px;
    fill: black;
}

/*text {*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size: 10px;*/
   /*// pointer-events: none;*/
/*}*/

.info{
    font-size: 20px;
}

.paragraph{
    font-size: 20px;
}

.paragraphmedium{
    font-size: 25px;
}

.paragraphsmall{
    font-size: 12.5px;
    padding-left:5em
}

.score{
    font-size: 50px;
}


.info_small{
    font-size: 16px;
}

.resultstext{
    cursor: pointer;
}

circle{
    cursor: pointer;
}

.label{
    font-size: 20.5px;
}



.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}


.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}


.enter{
    fill:"white";
}

.hidden {
    display: none;
}
.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}